snippet l
	[${1:link text}](${2:#tk-url})
snippet img
	![${1:alt}](${2:#tk-url})
snippet jp
	---
	title:      ${1:title}
	subtitle:   ${2:subtitle}
	author:     Brad
	layout:     post
	header-img: "img/tk-bg.jpg"
	date:      `strftime("%Y/%m/%d 00:00:00")`
	---

	${3:post}
